<div class="secondary-info">
  <h2>Secondary</h2>
  <div class="secondary-list">
    <table>
      <tr>
        <th><p>&nbsp;</p></th>
      </tr>
      <tr>
        <td title="STR-5">
          <div class="secondary-box">
            <div class="styled-div_input-like">
              {{system.secondary.meleeDamage}}
            </div>
            <span>Melee dmg</span>
          </div>
        </td>
      </tr>
      <tr>
        <td title="2xPE">
          <div class="secondary-box">
            <div class="styled-div_input-like">
              {{system.secondary.sequence}}
            </div>
            <span>Sequence</span>
          </div>
        </td>
      </tr>
      <tr>
        <td title="EN/3">
          <div class="secondary-box">
            <div class="styled-div_input-like">
              {{system.secondary.healingRate}}
            </div>
            <span>Healing rate</span>
          </div>
        </td>
      </tr>
      <tr>
        <td title="3+EN/2">
          <div class="secondary-box">
            <div class="styled-div_input-like">
              {{system.secondary.hpPerLevel}}
            </div>
            <span>Hit points / level</span>
          </div>
        </td>
      </tr>
      <tr>
        <td title="5+2xIN">
          <div class="secondary-box">
            <div class="styled-div_input-like">
              {{system.secondary.spPerLevel}}
            </div>
            <span>Skill points / level</span>
          </div>
        </td>
      </tr>
      <tr>
        <td title="5+AG/2">
          <div class="secondary-box">
            <div class="styled-div_input-like">
              {{system.secondary.actionPoints}}
            </div>
            <span>Action Points</span>
          </div>
        </td>
      </tr>
      <tr>
        <td title="LK">
          <div class="secondary-box">
            <div class="styled-div_input-like">
              {{system.special.luc.total}}
            </div>
            <span>Critical Chance</span>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>
