<h2>Secondary</h2>
<table>
  <tr>
    <th><p>&nbsp;</p></th>
  </tr>
  <tr>
    <td title="Formula: STR-5">
      <div class="data-field">
        {{system.secondary.meleeDamage}}
        <span class="undertext">Melee dmg</span>
      </div>
    </td>
  </tr>
  <tr>
    <td title="Formula: 2xPE">
      <div class="data-field">
        {{system.secondary.sequence}}
        <span class="undertext">Sequence</span>
      </div>
    </td>
  </tr>
  <tr>
    <td title="Formula: EN/3">
      <div class="data-field">
        {{system.secondary.healingRate}}
        <span class="undertext">Healing rate</span>
      </div>
    </td>
  </tr>
  <tr>
    <td title="Formula: 3+EN/2">
      <div class="data-field">
        {{system.secondary.hpPerLevel}}
        <span class="undertext">Hit points / level</span>
      </div>
    </td>
  </tr>
  <tr>
    <td title="Formula: 5+2xIN">
      <div class="data-field">
        {{system.secondary.spPerLevel}}
        <span class="undertext">Skill points / level</span>
      </div>
    </td>
  </tr>
  <tr>
    <td title="Formula: 5+AG/2">
      <div class="data-field">
        {{system.secondary.actionPoints}}
        <span class="undertext">Action Points</span>
      </div>
    </td>
  </tr>
  <tr>
    <td title="Formula: LK">
      <div class="data-field">
        {{system.special.luc.total}}
        <span class="undertext">Critical Chance</span>
      </div>
    </td>
  </tr>
</table>
