<div class="skills-info">
  <h2>Skills</h2>
  {{#if system.general.remainingSkillPoints}}
    <p class="skills-unassigned">Unassigned: {{system.general.remainingSkillPoints}}</p>
  {{/if}}
  <div class="skills-list">
    <table>
      <tr>
        <th><p>Tag</p></th>
        <th><p>&nbsp;</p></th>
        <th><p>Skill</p></th>
        <th><p>Base</p></th>
        <th><p>Skill Points</p></th>
        <th><p>+</p></th>
        <th><p>-</p></th>
        <th><p>Total</p></th>
      </tr>
      <tr>
        <td>
          <input
            type="checkbox"
            name="system.skills.smallGuns.isTagged"
            {{checked system.skills.smallGuns.isTagged}}
            {{disabled (ifThen system.skills.smallGuns.isTagged false system.isTaggingDisabled)}}
          />
        </td>
        <td>icon</td>
        <td>
          <p>Small Guns</p>
        </td>
        <td>
          <div class="styled-div_input-like">
            {{system.skills.smallGuns.base}}
          </div>
        </td>
        <td class="skills-cell skills-cell_small">
          <input
            type="number"
            name="system.skills.smallGuns.skillPoints"
            value="{{system.skills.smallGuns.skillPoints}}"
          />
        </td>
        <td class="skills-cell skills-cell_small">
          <input
            type="number"
            name="system.skills.smallGuns.diffPositive"
            value="{{system.skills.smallGuns.diffPositive}}"
          />
        </td>
        <td class="skills-cell skills-cell_small">
          <input
            type="number"
            name="system.skills.smallGuns.diffNegative"
            value="{{system.skills.smallGuns.diffNegative}}"
          />
        </td>
        <td class="rollable-skill" data-roll="smallGuns" data-label="Small Guns">
          <div class="styled-div_input-like">
            {{system.skills.smallGuns.total}}
          </div>
        </td>
      </tr>

      <tr>
        <td>
          <input
            type="checkbox"
            name="system.skills.bigGuns.isTagged"
            {{checked system.skills.bigGuns.isTagged}}
            {{disabled (ifThen system.skills.bigGuns.isTagged false system.isTaggingDisabled)}}
          />
        </td>
        <td>icon</td>
        <td>
          <p>Big Guns</p>
        </td>
        <td>
          <div class="styled-div_input-like">
            {{system.skills.bigGuns.base}}
          </div>
        </td>
        <td class="skills-cell skills-cell_small">
          <input type="number" name="system.skills.bigGuns.skillPoints" value="{{system.skills.bigGuns.skillPoints}}" />
        </td>
        <td class="skills-cell skills-cell_small">
          <input
            type="number"
            name="system.skills.bigGuns.diffPositive"
            value="{{system.skills.bigGuns.diffPositive}}"
          />
        </td>
        <td class="skills-cell skills-cell_small">
          <input
            type="number"
            name="system.skills.bigGuns.diffNegative"
            value="{{system.skills.bigGuns.diffNegative}}"
          />
        </td>
        <td class="rollable-skill" data-roll="bigGuns" data-label="Big Guns">
          <div class="styled-div_input-like">
            {{system.skills.bigGuns.total}}
          </div>
        </td>
      </tr>

      <tr>
        <td>
          <input
            type="checkbox"
            name="system.skills.energyWeapons.isTagged"
            {{checked system.skills.energyWeapons.isTagged}}
            {{disabled (ifThen system.skills.energyWeapons.isTagged false system.isTaggingDisabled)}}
          />
        </td>
        <td>icon</td>
        <td>
          <p>Energy Weapons</p>
        </td>
        <td>
          <div class="styled-div_input-like">
            {{system.skills.energyWeapons.base}}
          </div>
        </td>
        <td class="skills-cell skills-cell_small">
          <input
            type="number"
            name="system.skills.energyWeapons.skillPoints"
            value="{{system.skills.energyWeapons.skillPoints}}"
          />
        </td>
        <td class="skills-cell skills-cell_small">
          <input
            type="number"
            name="system.skills.energyWeapons.diffPositive"
            value="{{system.skills.energyWeapons.diffPositive}}"
          />
        </td>
        <td class="skills-cell skills-cell_small">
          <input
            type="number"
            name="system.skills.energyWeapons.diffNegative"
            value="{{system.skills.energyWeapons.diffNegative}}"
          />
        </td>
        <td class="rollable-skill" data-roll="energyWeapons" data-label="Energy Weapons">
          <div class="styled-div_input-like">
            {{system.skills.energyWeapons.total}}
          </div>
        </td>
      </tr>

      <tr>
        <td>
          <input
            type="checkbox"
            name="system.skills.unarmed.isTagged"
            {{checked system.skills.unarmed.isTagged}}
            {{disabled (ifThen system.skills.unarmed.isTagged false system.isTaggingDisabled)}}
          />
        </td>
        <td>icon</td>
        <td>
          <p>Unarmed</p>
        </td>
        <td>
          <div class="styled-div_input-like">
            {{system.skills.unarmed.base}}
          </div>
        </td>
        <td class="skills-cell skills-cell_small">
          <input type="number" name="system.skills.unarmed.skillPoints" value="{{system.skills.unarmed.skillPoints}}" />
        </td>
        <td class="skills-cell skills-cell_small">
          <input
            type="number"
            name="system.skills.unarmed.diffPositive"
            value="{{system.skills.unarmed.diffPositive}}"
          />
        </td>
        <td class="skills-cell skills-cell_small">
          <input
            type="number"
            name="system.skills.unarmed.diffNegative"
            value="{{system.skills.unarmed.diffNegative}}"
          />
        </td>
        <td class="rollable-skill" data-roll="unarmed" data-label="Unarmed">
          <div class="styled-div_input-like">
            {{system.skills.unarmed.total}}
          </div>
        </td>
      </tr>

      <tr>
        <td>
          <input
            type="checkbox"
            name="system.skills.meleeWeapons.isTagged"
            {{checked system.skills.meleeWeapons.isTagged}}
            {{disabled (ifThen system.skills.meleeWeapons.isTagged false system.isTaggingDisabled)}}
          />
        </td>
        <td>icon</td>
        <td>
          <p>Melee Weapons</p>
        </td>
        <td>
          <div class="styled-div_input-like">
            {{system.skills.meleeWeapons.base}}
          </div>
        </td>
        <td class="skills-cell skills-cell_small">
          <input
            type="number"
            name="system.skills.meleeWeapons.skillPoints"
            value="{{system.skills.meleeWeapons.skillPoints}}"
          />
        </td>
        <td class="skills-cell skills-cell_small">
          <input
            type="number"
            name="system.skills.meleeWeapons.diffPositive"
            value="{{system.skills.meleeWeapons.diffPositive}}"
          />
        </td>
        <td class="skills-cell skills-cell_small">
          <input
            type="number"
            name="system.skills.meleeWeapons.diffNegative"
            value="{{system.skills.meleeWeapons.diffNegative}}"
          />
        </td>
        <td class="rollable-skill" data-roll="meleeWeapons" data-label="Melee Weapons">
          <div class="styled-div_input-like">
            {{system.skills.meleeWeapons.total}}
          </div>
        </td>
      </tr>

      <tr>
        <td>
          <input
            type="checkbox"
            name="system.skills.throwing.isTagged"
            {{checked system.skills.throwing.isTagged}}
            {{disabled (ifThen system.skills.throwing.isTagged false system.isTaggingDisabled)}}
          />
        </td>
        <td>icon</td>
        <td>
          <p>Throwing</p>
        </td>
        <td>
          <div class="styled-div_input-like">
            {{system.skills.throwing.base}}
          </div>
        </td>
        <td class="skills-cell skills-cell_small">
          <input
            type="number"
            name="system.skills.throwing.skillPoints"
            value="{{system.skills.throwing.skillPoints}}"
          />
        </td>
        <td class="skills-cell skills-cell_small">
          <input
            type="number"
            name="system.skills.throwing.diffPositive"
            value="{{system.skills.throwing.diffPositive}}"
          />
        </td>
        <td class="skills-cell skills-cell_small">
          <input
            type="number"
            name="system.skills.throwing.diffNegative"
            value="{{system.skills.throwing.diffNegative}}"
          />
        </td>
        <td class="rollable-skill" data-roll="throwing" data-label="Throwing">
          <div class="styled-div_input-like">
            {{system.skills.throwing.total}}
          </div>
        </td>
      </tr>

      <tr>
        <td>
          <input
            type="checkbox"
            name="system.skills.firstAid.isTagged"
            {{checked system.skills.firstAid.isTagged}}
            {{disabled (ifThen system.skills.firstAid.isTagged false system.isTaggingDisabled)}}
          />
        </td>
        <td>icon</td>
        <td>
          <p>First Aid</p>
        </td>
        <td>
          <div class="styled-div_input-like">
            {{system.skills.firstAid.base}}
          </div>
        </td>
        <td class="skills-cell skills-cell_small">
          <input
            type="number"
            name="system.skills.firstAid.skillPoints"
            value="{{system.skills.firstAid.skillPoints}}"
          />
        </td>
        <td class="skills-cell skills-cell_small">
          <input
            type="number"
            name="system.skills.firstAid.diffPositive"
            value="{{system.skills.firstAid.diffPositive}}"
          />
        </td>
        <td class="skills-cell skills-cell_small">
          <input
            type="number"
            name="system.skills.firstAid.diffNegative"
            value="{{system.skills.firstAid.diffNegative}}"
          />
        </td>
        <td class="rollable-skill" data-roll="firstAid" data-label="First Aid">
          <div class="styled-div_input-like">
            {{system.skills.firstAid.total}}
          </div>
        </td>
      </tr>

      <tr>
        <td>
          <input
            type="checkbox"
            name="system.skills.doctor.isTagged"
            {{checked system.skills.doctor.isTagged}}
            {{disabled (ifThen system.skills.doctor.isTagged false system.isTaggingDisabled)}}
          />
        </td>
        <td>icon</td>
        <td>
          <p>Doctor</p>
        </td>
        <td>
          <div class="styled-div_input-like">
            {{system.skills.doctor.base}}
          </div>
        </td>
        <td class="skills-cell skills-cell_small">
          <input type="number" name="system.skills.doctor.skillPoints" value="{{system.skills.doctor.skillPoints}}" />
        </td>
        <td class="skills-cell skills-cell_small">
          <input type="number" name="system.skills.doctor.diffPositive" value="{{system.skills.doctor.diffPositive}}" />
        </td>
        <td class="skills-cell skills-cell_small">
          <input type="number" name="system.skills.doctor.diffNegative" value="{{system.skills.doctor.diffNegative}}" />
        </td>
        <td class="rollable-skill" data-roll="doctor" data-label="Doctor">
          <div class="styled-div_input-like">
            {{system.skills.doctor.total}}
          </div>
        </td>
      </tr>

      <tr>
        <td>
          <input
            type="checkbox"
            name="system.skills.sneak.isTagged"
            {{checked system.skills.sneak.isTagged}}
            {{disabled (ifThen system.skills.sneak.isTagged false system.isTaggingDisabled)}}
          />
        </td>
        <td>icon</td>
        <td>
          <p>Sneak</p>
        </td>
        <td>
          <div class="styled-div_input-like">
            {{system.skills.sneak.base}}
          </div>
        </td>
        <td class="skills-cell skills-cell_small">
          <input type="number" name="system.skills.sneak.skillPoints" value="{{system.skills.sneak.skillPoints}}" />
        </td>
        <td class="skills-cell skills-cell_small">
          <input type="number" name="system.skills.sneak.diffPositive" value="{{system.skills.sneak.diffPositive}}" />
        </td>
        <td class="skills-cell skills-cell_small">
          <input type="number" name="system.skills.sneak.diffNegative" value="{{system.skills.sneak.diffNegative}}" />
        </td>
        <td class="rollable-skill" data-roll="sneak" data-label="Sneak">
          <div class="styled-div_input-like">
            {{system.skills.sneak.total}}
          </div>
        </td>
      </tr>

      <tr>
        <td>
          <input
            type="checkbox"
            name="system.skills.lockpick.isTagged"
            {{checked system.skills.lockpick.isTagged}}
            {{disabled (ifThen system.skills.lockpick.isTagged false system.isTaggingDisabled)}}
          />
        </td>
        <td>icon</td>
        <td>
          <p>Lockpick</p>
        </td>
        <td>
          <div class="styled-div_input-like">
            {{system.skills.lockpick.base}}
          </div>
        </td>
        <td class="skills-cell skills-cell_small">
          <input
            type="number"
            name="system.skills.lockpick.skillPoints"
            value="{{system.skills.lockpick.skillPoints}}"
          />
        </td>
        <td class="skills-cell skills-cell_small">
          <input
            type="number"
            name="system.skills.lockpick.diffPositive"
            value="{{system.skills.lockpick.diffPositive}}"
          />
        </td>
        <td class="skills-cell skills-cell_small">
          <input
            type="number"
            name="system.skills.lockpick.diffNegative"
            value="{{system.skills.lockpick.diffNegative}}"
          />
        </td>
        <td class="rollable-skill" data-roll="lockpick" data-label="Lockpick">
          <div class="styled-div_input-like">
            {{system.skills.lockpick.total}}
          </div>
        </td>
      </tr>

      <tr>
        <td>
          <input
            type="checkbox"
            name="system.skills.steal.isTagged"
            {{checked system.skills.steal.isTagged}}
            {{disabled (ifThen system.skills.steal.isTagged false system.isTaggingDisabled)}}
          />
        </td>
        <td>icon</td>
        <td>
          <p>Steal</p>
        </td>
        <td>
          <div class="styled-div_input-like">
            {{system.skills.steal.base}}
          </div>
        </td>
        <td class="skills-cell skills-cell_small">
          <input type="number" name="system.skills.steal.skillPoints" value="{{system.skills.steal.skillPoints}}" />
        </td>
        <td class="skills-cell skills-cell_small">
          <input type="number" name="system.skills.steal.diffPositive" value="{{system.skills.steal.diffPositive}}" />
        </td>
        <td class="skills-cell skills-cell_small">
          <input type="number" name="system.skills.steal.diffNegative" value="{{system.skills.steal.diffNegative}}" />
        </td>
        <td class="rollable-skill" data-roll="steal" data-label="Steal">
          <div class="styled-div_input-like">
            {{system.skills.steal.total}}
          </div>
        </td>
      </tr>

      <tr>
        <td>
          <input
            type="checkbox"
            name="system.skills.traps.isTagged"
            {{checked system.skills.traps.isTagged}}
            {{disabled (ifThen system.skills.traps.isTagged false system.isTaggingDisabled)}}
          />
        </td>
        <td>icon</td>
        <td>
          <p>Traps</p>
        </td>
        <td>
          <div class="styled-div_input-like">
            {{system.skills.traps.base}}
          </div>
        </td>
        <td class="skills-cell skills-cell_small">
          <input type="number" name="system.skills.traps.skillPoints" value="{{system.skills.traps.skillPoints}}" />
        </td>
        <td class="skills-cell skills-cell_small">
          <input type="number" name="system.skills.traps.diffPositive" value="{{system.skills.traps.diffPositive}}" />
        </td>
        <td class="skills-cell skills-cell_small">
          <input type="number" name="system.skills.traps.diffNegative" value="{{system.skills.traps.diffNegative}}" />
        </td>
        <td class="rollable-skill" data-roll="traps" data-label="Traps">
          <div class="styled-div_input-like">
            {{system.skills.traps.total}}
          </div>
        </td>
      </tr>

      <tr>
        <td>
          <input
            type="checkbox"
            name="system.skills.science.isTagged"
            {{checked system.skills.science.isTagged}}
            {{disabled (ifThen system.skills.science.isTagged false system.isTaggingDisabled)}}
          />
        </td>
        <td>icon</td>
        <td>
          <p>Science</p>
        </td>
        <td>
          <div class="styled-div_input-like">
            {{system.skills.science.base}}
          </div>
        </td>
        <td class="skills-cell skills-cell_small">
          <input type="number" name="system.skills.science.skillPoints" value="{{system.skills.science.skillPoints}}" />
        </td>
        <td class="skills-cell skills-cell_small">
          <input
            type="number"
            name="system.skills.science.diffPositive"
            value="{{system.skills.science.diffPositive}}"
          />
        </td>
        <td class="skills-cell skills-cell_small">
          <input
            type="number"
            name="system.skills.science.diffNegative"
            value="{{system.skills.science.diffNegative}}"
          />
        </td>
        <td class="rollable-skill" data-roll="science" data-label="Science">
          <div class="styled-div_input-like">
            {{system.skills.science.total}}
          </div>
        </td>
      </tr>

      <tr>
        <td>
          <input
            type="checkbox"
            name="system.skills.repair.isTagged"
            {{checked system.skills.repair.isTagged}}
            {{disabled (ifThen system.skills.repair.isTagged false system.isTaggingDisabled)}}
          />
        </td>
        <td>icon</td>
        <td>
          <p>Repair</p>
        </td>
        <td>
          <div class="styled-div_input-like">
            {{system.skills.repair.base}}
          </div>
        </td>
        <td class="skills-cell skills-cell_small">
          <input type="number" name="system.skills.repair.skillPoints" value="{{system.skills.repair.skillPoints}}" />
        </td>
        <td class="skills-cell skills-cell_small">
          <input type="number" name="system.skills.repair.diffPositive" value="{{system.skills.repair.diffPositive}}" />
        </td>
        <td class="skills-cell skills-cell_small">
          <input type="number" name="system.skills.repair.diffNegative" value="{{system.skills.repair.diffNegative}}" />
        </td>
        <td class="rollable-skill" data-roll="repair" data-label="Repair">
          <div class="styled-div_input-like">
            {{system.skills.repair.total}}
          </div>
        </td>
      </tr>

      <tr>
        <td>
          <input
            type="checkbox"
            name="system.skills.pilot.isTagged"
            {{checked system.skills.pilot.isTagged}}
            {{disabled (ifThen system.skills.pilot.isTagged false system.isTaggingDisabled)}}
          />
        </td>
        <td>icon</td>
        <td>
          <p>Pilot</p>
        </td>
        <td>
          <div class="styled-div_input-like">
            {{system.skills.pilot.base}}
          </div>
        </td>
        <td class="skills-cell skills-cell_small">
          <input type="number" name="system.skills.pilot.skillPoints" value="{{system.skills.pilot.skillPoints}}" />
        </td>
        <td class="skills-cell skills-cell_small">
          <input type="number" name="system.skills.pilot.diffPositive" value="{{system.skills.pilot.diffPositive}}" />
        </td>
        <td class="skills-cell skills-cell_small">
          <input type="number" name="system.skills.pilot.diffNegative" value="{{system.skills.pilot.diffNegative}}" />
        </td>
        <td class="rollable-skill" data-roll="pilot" data-label="Pilot">
          <div class="styled-div_input-like">
            {{system.skills.pilot.total}}
          </div>
        </td>
      </tr>

      <tr>
        <td>
          <input
            type="checkbox"
            name="system.skills.speech.isTagged"
            {{checked system.skills.speech.isTagged}}
            {{disabled (ifThen system.skills.speech.isTagged false system.isTaggingDisabled)}}
          />
        </td>
        <td>icon</td>
        <td>
          <p>Speech</p>
        </td>
        <td>
          <div class="styled-div_input-like">
            {{system.skills.speech.base}}
          </div>
        </td>
        <td class="skills-cell skills-cell_small">
          <input type="number" name="system.skills.speech.skillPoints" value="{{system.skills.speech.skillPoints}}" />
        </td>
        <td class="skills-cell skills-cell_small">
          <input type="number" name="system.skills.speech.diffPositive" value="{{system.skills.speech.diffPositive}}" />
        </td>
        <td class="skills-cell skills-cell_small">
          <input type="number" name="system.skills.speech.diffNegative" value="{{system.skills.speech.diffNegative}}" />
        </td>
        <td class="rollable-skill" data-roll="speech" data-label="Speech">
          <div class="styled-div_input-like">
            {{system.skills.speech.total}}
          </div>
        </td>
      </tr>

      <tr>
        <td>
          <input
            type="checkbox"
            name="system.skills.barter.isTagged"
            {{checked system.skills.barter.isTagged}}
            {{disabled (ifThen system.skills.barter.isTagged false system.isTaggingDisabled)}}
          />
        </td>
        <td>icon</td>
        <td>
          <p>Barter</p>
        </td>
        <td>
          <div class="styled-div_input-like">
            {{system.skills.barter.base}}
          </div>
        </td>
        <td class="skills-cell skills-cell_small">
          <input type="number" name="system.skills.barter.skillPoints" value="{{system.skills.barter.skillPoints}}" />
        </td>
        <td class="skills-cell skills-cell_small">
          <input type="number" name="system.skills.barter.diffPositive" value="{{system.skills.barter.diffPositive}}" />
        </td>
        <td class="skills-cell skills-cell_small">
          <input type="number" name="system.skills.barter.diffNegative" value="{{system.skills.barter.diffNegative}}" />
        </td>
        <td class="rollable-skill" data-roll="barter" data-label="Barter">
          <div class="styled-div_input-like">
            {{system.skills.barter.total}}
          </div>
        </td>
      </tr>

      <tr>
        <td>
          <input
            type="checkbox"
            name="system.skills.gambling.isTagged"
            {{checked system.skills.gambling.isTagged}}
            {{disabled (ifThen system.skills.gambling.isTagged false system.isTaggingDisabled)}}
          />
        </td>
        <td>icon</td>
        <td>
          <p>Gambling</p>
        </td>
        <td>
          <div class="styled-div_input-like">
            {{system.skills.gambling.base}}
          </div>
        </td>
        <td class="skills-cell skills-cell_small">
          <input
            type="number"
            name="system.skills.gambling.skillPoints"
            value="{{system.skills.gambling.skillPoints}}"
          />
        </td>
        <td class="skills-cell skills-cell_small">
          <input
            type="number"
            name="system.skills.gambling.diffPositive"
            value="{{system.skills.gambling.diffPositive}}"
          />
        </td>
        <td class="skills-cell skills-cell_small">
          <input
            type="number"
            name="system.skills.gambling.diffNegative"
            value="{{system.skills.gambling.diffNegative}}"
          />
        </td>
        <td class="rollable-skill" data-roll="gambling" data-label="Gambling">
          <div class="styled-div_input-like">
            {{system.skills.gambling.total}}
          </div>
        </td>
      </tr>

      <tr>
        <td>
          <input
            type="checkbox"
            name="system.skills.outdoorsman.isTagged"
            {{checked system.skills.outdoorsman.isTagged}}
            {{disabled (ifThen system.skills.outdoorsman.isTagged false system.isTaggingDisabled)}}
          />
        </td>
        <td>icon</td>
        <td>
          <p>Outdoorsman</p>
        </td>
        <td>
          <div class="styled-div_input-like">
            {{system.skills.outdoorsman.base}}
          </div>
        </td>
        <td class="skills-cell skills-cell_small">
          <input
            type="number"
            name="system.skills.outdoorsman.skillPoints"
            value="{{system.skills.outdoorsman.skillPoints}}"
          />
        </td>
        <td class="skills-cell skills-cell_small">
          <input
            type="number"
            name="system.skills.outdoorsman.diffPositive"
            value="{{system.skills.outdoorsman.diffPositive}}"
          />
        </td>
        <td class="skills-cell skills-cell_small">
          <input
            type="number"
            name="system.skills.outdoorsman.diffNegative"
            value="{{system.skills.outdoorsman.diffNegative}}"
          />
        </td>
        <td class="rollable-skill" data-roll="outdoorsman" data-label="Outdoorsman">
          <div class="styled-div_input-like">
            {{system.skills.outdoorsman.total}}
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>
