<h2>Status</h2>
<table style="table-layout: fixed;">
  <tr>
    <td>
      <div class="flex">
        <span class="inline-icon">
          <img src="systems/falloutpnp/static/icons/icon-status-hp.png" alt="HP" />
        </span>
        <div class="input-field">
          <input
            type="number"
            data-dtype="Number"
            name="system.status.health.current"
            value="{{system.status.health.current}}"
          />
          <span class="undertext">Current HP</span>
        </div>
      </div>
    </td>
    <td title="Formula: 15+ST+ENx2">
      <div class="flex">
        <span class="large-text">/&nbsp;</span>
        <div class="data-field">
          {{system.status.health.maximum}}
          <span class="undertext">Max HP</span>
        </div>
      </div>
    </td>
    <td>
      <div class="flex">
        <span class="inline-icon">
          <img src="systems/falloutpnp/static/icons/icon-status-poison.png" alt="Poison" />
        </span>
        <div class="input-field">
          <input
            type="number"
            data-dtype="Number"
            name="system.status.poison.current"
            value="{{system.status.poison.current}}"
          />
          <span class="undertext">Poison</span>
        </div>
      </div>
    </td>
    <td>
      <div class="flex">
        <span class="inline-icon">
          <img src="systems/falloutpnp/static/icons/icon-status-rads.png" alt="Rads" />
        </span>
        <div class="input-field">
          <input
            type="number"
            data-dtype="Number"
            name="system.status.rads.current"
            value="{{system.status.rads.current}}"
          />
          <span class="undertext">Rads</span>
        </div>
      </div>
    </td>
  </tr>
  <tr>
    <td title="Formula: ENx5">
      <div class="flex">
        <span class="inline-icon">
          <img src="systems/falloutpnp/static/icons/icon-status-poison-resist.png" alt="Poison Resist" />
        </span>
        <div class="data-field">
          {{system.status.poison.resist}}%
          <span class="undertext">Poison Resist</span>
        </div>
      </div>
    </td>
    <td title="Formula: ENx2">
      <div class="flex">
        <span class="inline-icon">
          <img src="systems/falloutpnp/static/icons/icon-status-rad-resist.png" alt="Rads" />
        </span>
        <div class="data-field">
          {{system.status.rads.resist}}%
          <span class="undertext">Rad Resist</span>
        </div>
      </div>
    </td>
    <td>
      <div class="flex">
        <span class="inline-icon">
          <img src="systems/falloutpnp/static/icons/icon-status-electricity-resist.png" alt="Electricity Resist" />
        </span>
        <div class="data-field">
          {{system.status.electricity.resist}}%
          <span class="undertext">Electricity Resist</span>
        </div>
      </div>
    </td>
    <td>
      <div class="flex">
        <span class="inline-icon">
          <img src="systems/falloutpnp/static/icons/icon-status-gas-resist.png" alt="Gas Resist" />
        </span>
        <div class="data-field">
          {{system.status.gas.resist}}%
          <span class="undertext">Gas Resist</span>
        </div>
      </div>
    </td>
  </tr>
</table>
