<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64" />
    <h1><input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'Name'}}" /></h1>
  </header>
  <div class="sheet-content">
    <table>
      <tr>
        <th>{{localize "falloutpnp.weapon.attackWith"}}</th>
        <th>{{localize "falloutpnp.weapon.type"}}</th>
        <th>{{localize "falloutpnp.weapon.damage"}}</th>
        <th>{{localize "falloutpnp.weapon.single"}}</th>
      </tr>
      <tr>
        <td>
          <select name="data.attackWith">
            {{#select data.attackWith}}
              {{#each config.attackTypes as |name type|}}
                <option value="{{type}}">{{name}}</option>
              {{/each}}
            {{/select}}
          </select>
        </td>
        <td>
          <input name="data.type" type="text" value="{{data.type}}" data-dtype="String" />
        </td>
        <td>
          <input name="data.damage" type="text" value="{{data.damage}}" data-dtype="Number" />
        </td>
        <td>
          <input name="data.single" type="text" value="{{data.single}}" data-dtype="Number" />
        </td>
      </tr>
    </table>
    {{editor content=data.description target="data.description" owner=owner editable=editable}}
  </div>
</form>
